# User-specific files
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.DotSettings.user

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin/
obj/
Debug/
Release/
ipch/

# NuGet packages
**/packages/*/

# mstest test results
TestResults/

# Microsoft Office Temporary files
~?*.pptx
~$*.docx

# MacOS specific
.DS_Store
