<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding" />
			</basicHttpBinding>
		</bindings>
		
		<client>
			<endpoint
				address="http://localhost:8888/StockTrade/Exchange"
				binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
				contract="StockTradeServiceImplementation.IStockTradeService"
				name="basicHttpBinding"
			/>
		</client>
	</system.serviceModel>
</configuration>
